html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

canvas {
  margin-top: 10%;
  border: 1px solid white;
}

h1 {
  color: white;
  text-align: center;
}

.info {
  padding-top: 3%;
}

#time {
  font-size: 1.3em;
}

#game-over {
  position: absolute;
  font-size: 3em;
  top: 10%;
  display: none;
}

#game-over h1,
#start-game h1,
#record {
  color: gold;
}

#record {
  font-style: italic;
  text-align: center;
}

#start-game {
  position: absolute;
  font-size: 3em;
  top: 24%;
}

.snake,
.info {
  display: none;
}
